dask[distributed]
folium
geogif
geojson
geojsonio
geopandas
graphviz
ipyleaflet
ipywidgets==7.7.1
localtileserver
matplotlib
numpy
pandas
pystac_client
rasterio
rasterio
rich
rioxarray
scikit-image
shapely
stackstac[viz]
tqdm
jupyter-server-proxy