bokeh<3
dask-image
dask[distributed]
folium
geogif
geojson
geojsonio
geopandas
graphviz
ipyleaflet
ipywidgets==7.7.1
jupyter-server-proxy
localtileserver
matplotlib
numpy
pandas
pooch
pystac_client
rasterio
rasterio
rich
rioxarray
s2cloudless
scikit-image
shapely
stackstac[viz]
tqdm